<div class="text-center container">
<h1 >Fission Labs Proof of Concept</h1>

<div class="row">
    <div class="col-md-12">
        <input type='file' id='csvFile' accept='.csv'>      
    </div>
    <div class="col-md-12">        
        <button class="btn btn-default" ng-click='upload()' id="uploadBtn" disabled> Upload </button> <br>
        <span class="successText">{{message}}</span><br><br>
        <button class="btn btn-success" id="analysisBtn" ui-sref='chart' disabled>See Analysis</button>
    </div>
</div>
    
</div>    

